.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.label {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.submitHint {
  opacity: 0;
}

.visibleHint {
  opacity: 1;
}