.cnt {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-y: auto;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}