@keyframes emergence {
  from {
    translate: -100%;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

.cnt {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  animation: emergence 1s ease-in-out;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
}