.card {
  width: 60vw;
  max-width: 950px;
  height: 80vh;
  max-height: 560px;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: var(--window-border-radius);
  box-shadow: 0px 0px 25px 15px rgba(132, 132, 132, 0.4);
  display: grid;
  grid-template-rows: 1fr auto;
}

.controls {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 3px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: var(--l-font-size);
  font-weight: 500;
}