@import "./styles/normalize.css";
@import "./styles/vars.css";

@font-face {
  font-family: "Rubik";
  src: url(./styles/fonts/Rubik-Regular.ttf) format("truetype");
  font-weight: 400; 
}
@font-face {
  font-family: "Rubik";
  src: url(./styles/fonts/Rubik-Medium.ttf) format("truetype");
  font-weight: 500; 
}

#root {
  width: 100vw;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--dark-black);
  font-size: 16px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}