.textarea {
  width: 50%;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid var(--black);
  font-size: var(--s-font-size);
  padding: 8px 15px;
  border-radius: 40px;
  outline: none;
  flex-grow: 1;
  resize: vertical;
}

.textarea:focus {
  border: 2px solid var(--red-black);
  background-color: rgb(236, 236, 236);
}

.fill {
  width: 100%;
}